@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

body {
	font-family: 'Manrope', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

// Тулбар
.toolbar {
	width: 100%;
	display: flex;
	gap: 1rem;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 0.75rem;
}

//Фільтри
.filters {
	display: flex;
	gap: 1rem;
	align-items: center;
	margin-bottom: 0.75rem;
}

.filters label {
	display: flex;
	flex-direction: column;
	font-size: 0.9rem;
}

.filters select {
	padding: 0.25rem 0.5rem;
	border-radius: 4px;
	border: 1px solid #ccc;
}
// Таблиця
table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 0.75rem;
}

th,
td {
	border: 1px solid #ddd;
	padding: 0.5rem;
	text-align: left;
}

th {
	background: #f6f6f6;
	cursor: pointer;
	position: relative;
}

th.sortable:hover {
	background: #eaeaea;
}

tbody tr:hover {
	background: #f9f9f9;
}

.col-resize-handle {
	position: absolute;
	right: 0;
	top: 0;
	width: 6px;
	height: 100%;
	cursor: col-resize;
	user-select: none;
}
// Модалка
.modal {
	position: fixed;
	inset: 0;
	background: rgba(0, 0, 0, 0.45);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
}

.modal-content {
	background: #fff;
	padding: 1.25rem;
	border-radius: 8px;
	width: 380px;
	display: grid;
	gap: 0.75rem;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.modal-close {
	position: absolute;
	top: 8px;
	right: 8px;
}

h3 {
	margin: 0;
	font-size: 1.2rem;
	font-weight: 600;
}

label {
	display: grid;
	gap: 0.25rem;
	font-size: 0.9rem;
}

input,
select {
	padding: 0.4rem 0.6rem;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.err {
	color: #b00020;
	font-size: 0.8em;
}

// інше

.empty {
	text-align: center;
	color: #666;
	font-style: italic;
}
